.work_item {
  margin: 0;
  /* margin-bottom: 15px; */
  position: relative;
  filter: grayscale(100%);
  transition: 1s;
  /*Экспериментирую*/
  width: 425px;
}

.work_item:hover {
  filter: none;
  transition: 0.5s;
}

.work_item h3 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  text-transform: uppercase;
  padding: 15px;
}

.work_item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work_item p {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.5);
}
/*  
@media (min-width: 768px) {
  .work_item {
    margin-bottom: 20px;
  }

  .work_item h3 {
    font-size: 2em;
  }

  .work_item p {
    padding: 2%;
  }
}

@media (min-width: 1400px) {
  .work_item {
    margin-bottom: 25px;
  }

  .work_item h3 {
    font-size: 3em;
  }
}
*/