.tags_cloud {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.tags_cloud span {
  padding: 3px;
  cursor: pointer;
}

.tags_cloud span:hover {
  color: lightgray
}

.tags_cloud input:checked + span {
  color: red;
}

.tags_cloud input:checked + span:hover {
  color: darkred;
}

@media (min-width: 768px) {
  /* .tags_cloud {
    width: 50%;
    margin: 0 auto;
  } */
}